<?xml version="1.0" encoding="utf-8" ?>

<!--
*****************************************************************************
NLog.config 設定參考  (noted by LeTian Chang)
(0)NuGet 必要套件
    (0.1) NLog 
    (0.2) NLog.Windows.Forms
    (0.3) NLog.config 必須複製到 與 exe 同路徑
(1)基本教學
    https://github.com/NLog/NLog/wiki/Tutorial
(2)輸出格式 (Layouts)
    預設為 ${longdate}|${level:uppercase=true}|${logger}|${message:withexception=true}
    https://github.com/NLog/NLog/wiki/Layouts
    https://nlog-project.org/config/?tab=layout-renderers
(3)導向 RichTextBox
    https://github.com/NLog/NLog.Windows.Forms
    https://github.com/NLog/NLog.Windows.Forms/wiki/RichTextBoxTarget
(4)進階檔案設定
    https://dotblogs.com.tw/wasichris/2015/01/11/148053
    https://github.com/nlog/NLog/wiki/File-target
    https://github.com/NLog/NLog/wiki/FileTarget-Archive-Examples#archive-numbering-examples
    
*****************************************************************************
-->


<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
 
  <extensions>
    <add assembly="NLog.Windows.Forms"/>
    <!--
    <add assembly="EzAoiEmptyTrayInspector"/>
    <add assmebly="LeTian.AwFramework"/>
    -->
  </extensions>

  <!--[變數]-->
  <variable name="myLogPath" value="D:\AUTOMATION\Eazy FPI30\Aoi\Work\Log"/>
  <variable name="myFormName" value="FormAwMain"/>
  <variable name="myRichTextBoxName" value="richTextBox1"/>
  <!--[變數]-->
  <variable name="fmtAll" value="${time}, ${level:format=FirstCharacter}, ${threadid}, ${message:withexception=true}"/>
  <variable name="fmtErr" value="${time}, ${level:format=FirstCharacter}, ${threadid}, ${logger}, ${message:withexception=true}"/>
  <variable name="fmtRic" value="${time}, [${level}], ${message} ${onexception:,${exception:format=Message}}"/>

  <!--[設定] LOG 輸出標的-->
  <targets async="true">
    <!-- 輸出標的: VS Debugger -->
    <target name="debugger" xsi:type="Debugger"/>
   
    <!-- 輸出標的: 檔案 全記錄 (自動以日期時間管理) -->
    <target name="fileAll" xsi:type="File"        
        layout="${fmtAll}"
        encoding="utf-8"
        fileName="${myLogPath}/${cached:${date:format=yyyyMMdd}}_cache.log"
        archiveFileName="${myLogPath}/log/{#}.log"
        archiveDateFormat="yyyyMMdd_HHmm"
        archiveNumbering="Date"
        archiveEvery="Hour"
        maxArchiveDays="3" />
    
    <!-- 輸出標的: 檔案 異常記錄 (自動以日期時間管理) -->
    <target name="fileErr" xsi:type="File" 
        layout="${fmtErr}"
        encoding="utf-8"
        fileName="${myLogPath}/${cached:${date:format=yyyyMMdd}}_err.log"
        archiveFileName="${myLogPath}/err/{#}.log"
        archiveDateFormat="yyyyMMdd_HHmm"
        archiveNumbering="Date"
        archiveEvery="Hour"
        maxArchiveDays="3" />

    <!-- 輸出標的: RichTextBox -->
    <target xsi:type="RichTextBox"
      name="richTextBox"
      formName="${myFormName}"
      controlName="${myRichTextBoxName}"
      layout="${fmtRic}"
      autoScroll="true"
      maxLines="100"
      showMinimized="true"
      toolWindow="true"
      width="500"
      height="300"
      useDefaultRowColoringRules="true">
    </target>
    
  </targets>

  <!--[設定] LOG 紀錄規則-->
	<rules>
    <logger name="*" minlevel="Debug" writeTo="debugger" />
    <logger name="*" minlevel="Error" writeTo="fileErr" />
    <logger name="*" writeTo="fileAll" />
    <!--
    <logger name="*" writeTo="richTextBox" />
    -->
  </rules>
	
</nlog>


